In [1]:
import pandas as pd
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [2]:
X = df.drop('salary_more_then_100k', axis = 'columns')
y = df['salary_more_then_100k']

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [5]:
X['company_en'] = le_company.fit_transform(X['company'])
X['job_en'] = le_company.fit_transform(X['job'])
X['degree_en'] = le_company.fit_transform(X['degree'])

In [6]:
X_new = X.drop(['company','job','degree'], axis='columns')

In [7]:
X_new.head()

   company_en  job_en  degree_en
0           2       2          0
1           2       2          1
2           2       0          0
3           2       0          1
4           2       1          0

In [8]:
import sklearn.model_selection as model_selection
X_train, X_test, y_train, y_test = model_selection.train_test_split(X_new, y, test_size=0.2)

In [9]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [10]:
model.score(X_test, y_test)

0.5

In [11]:
# Predicting an employee's salary working at Google as a sales executive and has a masters degree
model.predict([[2,2,1]])

array([0])

In [12]:
#Predicting the test set result  
y_pred= model.predict(X_test)

In [13]:
#Creating the Confusion matrix  
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)

In [14]:
cm

array([[1, 0],
       [2, 1]])