In [11]:
import pandas as pd
df = pd.read_csv("spam.csv")

In [12]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [13]:
df.groupby('Category').describe()

         Message
           count unique                                                top freq
Category
ham         4825   4516                             Sorry, I'll call later   30
spam         747    641  Please call our customer service representativ...    4

In [14]:
df['new_cat'] = df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message  new_cat
0      ham  Go until jurong point, crazy.. Available only ...        0
1      ham                      Ok lar... Joking wif u oni...        0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        1
3      ham  U dun say so early hor... U c already then say...        0
4      ham  Nah I don't think he goes to usf, he lives aro...        0

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.new_cat, test_size=0.25)

In [16]:
# Changing text to vectorize form
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X_train = vectorizer.fit_transform(X_train.values)
X_train.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [17]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [18]:
emails = ['Hey, can we get meet tomorrow for lunch?','Upto 20% discount on clothing, exclusive offer just for you!']
emails = vectorizer.transform(emails)
model.predict(emails)

array([0, 1])

In [19]:
X_test = vectorizer.transform(X_test)
model.score(X_test, y_test)

0.9842067480258435