In [1]:
# Importing Libraries and dataset
from sklearn.datasets import *
import pandas as pd

In [2]:
iris = load_iris()
ir = pd.DataFrame(iris.data)
ir.columns = iris.feature_names
ir['Class'] = iris.target
ir.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  Class
0                5.1               3.5  ...               0.2      0
1                4.9               3.0  ...               0.2      0
2                4.7               3.2  ...               0.2      0
3                4.6               3.1  ...               0.2      0
4                5.0               3.6  ...               0.2      0

[5 rows x 5 columns]

In [3]:
from sklearn.neighbors import NearestNeighbors 
knn = NearestNeighbors(n_neighbors=5)
knn.fit(iris.data)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [4]:
ir.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)       Class
count         150.000000        150.000000  ...        150.000000  150.000000
mean            5.843333          3.057333  ...          1.199333    1.000000
std             0.828066          0.435866  ...          0.762238    0.819232
min             4.300000          2.000000  ...          0.100000    0.000000
25%             5.100000          2.800000  ...          0.300000    0.000000
50%             5.800000          3.000000  ...          1.300000    1.000000
75%             6.400000          3.300000  ...          1.800000    2.000000
max             7.900000          4.400000  ...          2.500000    2.000000

[8 rows x 5 columns]

In [5]:
import numpy as np
test = np.array([5.3, 3, 2, 2.5])
test1 = test.reshape(1,-1) # Converting to 2D

In [6]:
knn.kneighbors([test],5)  # To use test1 replace "[test]" with "test1"
# 1st array gives us the distance of our query point wrt. 5 nearest points
# 2nd array gives us the index of the 5 nearest points

(array([[1.80277564, 2.02484567, 2.02731349, 2.05426386, 2.11187121]]),
 array([[98, 64, 43, 23, 57]]))